@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

:root {
  font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --system-correct: #4498F2;
  --system-correct-half: rgba(68,152,242,0.5);
  --system-yellow: #ffdc3c;
  --system-gray: #999;

  --banner-height-m: 240px;
  --banner-height-pt: 300px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* search bar styling reset */

/* Chrome */
input.hide-clear[type="search"]::-webkit-search-decoration,
input.hide-clear[type="search"]::-webkit-search-cancel-button,
input.hide-clear[type="search"]::-webkit-search-results-button,
input.hide-clear[type="search"]::-webkit-search-results-decoration {
  display: none; 
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}


input[type="search"] {
  font-family: 'Noto Sans KR', sans-serif;

  border: 1px solid black;

  background: transparent;
}
input[type="search"]::placeholder {
  color: var(--system-gray);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  letter-spacing: -0.05em;
}
input[type="search"]:focus-visible {
  outline: none;
}